# Python
__pycache__/


# Virtual environments
.venv/
.env

# Docker

# uv
.python-version
uv.lock# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# production
.next/
out/

# misc
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local

# credentials
cred.json
credentials.json